<!doctype html>

<html>
<head>
  <title>CSS Styleguide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="../css/main.css?v=1.0">
</head>
<body>

<!-- ####################################################################### -->
<div class="bgc--primary c--text-inverse @@headerClass">
<div class="l-container-default container-fluid">

<div class="row middle-xs">
  <div class="col-xs-12 sg-header">
    <h1 class="mb0 pb0">CSS Styleguide: @@name</h1>
    <div class="fz80p">@@note</div>
  </div>
</div> <!-- row -->

</div> <!-- container-type -->  
</div> <!-- container-color -->  

<!-- ####################################################################### -->
<div class="bgc--grey-300 @@headerClass">
<div class="l-container-default container-fluid">
  <ul class="l-menu-horizontal">
    <li><strong>Components:</strong></li>
    <li><a href="typography.html">Typography</a></li>
    <li><a href="icons.html">Icons</a></li>
    <li><a href="layout.html">Layout</a></li>
    <li><a href="inputs.html">Inputs</a></li>
    <li><a href="controls.html">Controls</a></li>
    <li><a href="navigation.html">Navigation</a></li>
    <li><a href="info.html">Info</a></li>
    <li><a href="tables.html">Tables</a></li>
  </ul>
</div>
</div>

<div class="bgc--grey-200 @@headerClass">
<div class="l-container-default container-fluid">
  <ul class="l-menu-horizontal">
    <li><strong>Molecules:</strong></li>
    <li><a href="header.html">Header</a></li>
    <li><a href="footer.html">Footer</a></li>
  </ul>
</div>
</div>

