@@include('./_header_.html', {
  "name": "Inputs",
  "headerClass": "",
  "note": "e.g. input, select, checkbox, radio, date, time, password"
})

@@include('./components/input.html')
@@include('./components/password.html')
@@include('./components/checkbox.html')
@@include('./components/radio.html')
@@include('./components/switch.html')
@@include('./components/checkbox-button.html')
@@include('./components/radio-button.html')
@@include('./components/select.html')
@@include('./components/textarea.html')

@@include('./_footer_.html')
