/*******************************************
  CSS Styleguide classes
********************************************/

.sg-header { position: relative; padding-right: 70px; }
.sg-header:after {
  content: ""; width: 50px; height: 50px;
  position: absolute; top: -7px; right: 0;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.sg-back-link { position: fixed; bottom: 5px; right: 10px; }

.sg-color { 
  display: inline-block; 
  width: 130px; height: 130px; 
  line-height: 130px; 
  margin: 0 10px 10px 0; 
  text-align: center; 
  font-size: .8em; 
  border: 1px solid #ccc;
}

.sg-box { 
  background-color: $color-primary; 
  text-align: center; 
  color: $color-text-inverse; 
  margin-bottom: $global-spacing-unit; 
}

.sg-box-fat { height: 100px; line-height: 100px; }

