/*******************************************
  ICONS
********************************************/

.c-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.c-icon--house-black { background-image: url('../images/icons/house-24px.svg'); }
.c-icon--search-black { background-image: url('../images/icons/search-24px.svg'); }
.c-icon--cart-black { background-image: url('../images/icons/shopping_cart-24px.svg'); }
.c-icon--schedule-black { background-image: url('../images/icons/schedule-24px.svg'); }
.c-icon--person-black { background-image: url('../images/icons/person-24px.svg'); }
.c-icon--people-black { background-image: url('../images/icons/people-24px.svg'); }

