<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Button</h2>  
  </div>

  <div class="col-xs-12 mb2r">
    <a class="c-btn c-btn--primary c-transition" href="">c-btn--primary</a>
    <button class="c-btn c-btn--muted c-transition" href="">c-btn--muted</button>
    <a class="c-btn c-btn--primary-outline c-transition" href="">c-btn--primary-outline</a>
  </div>

  <div class="col-xs-12 mb2r">
    <a class="c-btn c-btn--primary c-transition" href="">
      <i class="fa fa-lightbulb-o mr05r"></i>
      c-btn--primary
    </a>
  </div>

  <div class="col-xs-12 mb2r">
    <a class="c-btn c-btn--primary c-btn--rounded c-transition" href="">
      c-btn--rounded
      <i class="fa fa-question-circle ml05r"></i>
    </a>
  </div>

  <div class="col-xs-12">
    <a class="c-btn c-btn--tiny c-btn--primary c-transition" href="">c-btn--tiny</a>
    <a class="c-btn c-btn--primary c-btn--tiny c-btn--rounded c-transition" href="">
      c-btn--rounded
      <i class="fa fa-check ml05r"></i>
    </a>
  </div>

</div> <!-- row -->
</div> <!-- container-type -->  
