<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Checkbox button</h2>  

    <div class="l-form-group">
      <div class="checkbox-button">
        <input id="checkboxButton1" type="checkbox" name="checkboxButton1">
        <label for="checkboxButton1">First button</label>
      </div>
      <div class="checkbox-button">
        <input id="checkboxButton2" type="checkbox" name="checkboxButton2"checked>
        <label for="checkboxButton2">Second button</label>
      </div>
      <div class="checkbox-button">
        <input id="checkboxButton3" type="checkbox" name="checkboxButton3">
        <label for="checkboxButton3">Third button</label>
      </div>
    </div>

    <div class="l-form-group">
      <div class="checkbox-button checkbox-button--tiny">
        <input id="checkboxButtonTiny1" type="checkbox" name="checkboxButtonTiny1" checked>
        <label for="checkboxButtonTiny1">First button</label>
      </div>
      <div class="checkbox-button checkbox-button--tiny">
        <input id="checkboxButtonTiny2" type="checkbox" name="checkboxButtonTiny2">
        <label for="checkboxButtonTiny2">Second button</label>
      </div>
      <div class="checkbox-button checkbox-button--tiny">
        <input id="checkboxButtonTiny3" type="checkbox" name="checkboxButtonTiny3" checked>
        <label for="checkboxButtonTiny3">Third button</label>
      </div>
    </div>

  </div>
</div>
</div>




