<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Checkbox</h2>  

    <div class="l-form-group">
      <div>
        <label class="c-checkbox">
          <input type="checkbox" id="checkboxInput1" name="checkboxInput1" value="1" class="c-checkbox__input">
          <span class="c-checkbox__label">First checkbox</span>
        </label>
      </div>
      <div>
        <label class="c-checkbox">
          <input type="checkbox" id="checkboxInput3" name="checkboxInput3" value="1" class="c-checkbox__input" disabled>
          <span class="c-checkbox__label">Checkbox disabled</span>
        </label>
      </div>
      <div>
        <label class="c-checkbox">
          <input type="checkbox" id="checkboxInput2" name="checkboxInput2" value="1" class="c-checkbox__input is-error">
          <span class="c-checkbox__label">Checkbox is error</span>
        </label>
        <!-- <div class="l-form-group__validation">
          <div class="c--error">This field must be filled</div>
        </div> -->
      </div>
    </div>

  </div>
</div>
</div>


