<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Colours</h2>  

    <div class="sg-color bgc--primary c--text-inverse">@primary</div>
    <div class="sg-color bgc--muted">@muted</div>
    <div class="sg-color bgc--text-muted">@text-muted</div>
    <div class="sg-color bgc--error c--text-inverse">@alert</div>
    <div class="sg-color bgc--warning c--text-inverse">@warning</div>
    <div class="sg-color bgc--success c--text-inverse">@success</div>
    <div class="sg-color bgc--info">@info</div>
  </div>

</div> <!-- row -->
</div> <!-- container-type container -->  
