<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Containers</h2>  
  </div>
</div> <!-- row -->
</div> <!-- container-type -->  

<div class="l-container-image mb3r c--text-inverse" style="background-image: url('https://picsum.photos/id/1016/3844/2563');">
  <div class="l-container-default container-fluid">
    l-container-image
  </div>
</div>

<div class="l-container-full bgc--grey-200 mb3r">
  <div class="l-container-default container-fluid">
    l-container-full
  </div>
</div>

<div class="l-container-default container-fluid bgc--grey-200 mb3r">
  l-container-default container-fluid
</div>
