<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Input</h2>  

    <div class="l-form-group">
      <label class="l-form-group__label" for="demoInput">Demo input</label>
      <div class="l-form-group__input">
        <input class="c-input" type="text" name="demoInput" id="demoInput" placeholder="Placeholder text">
      </div>
    </div>

    <div class="l-form-group">
      <label class="l-form-group__label" for="demoInputRequired">Demo input required</label>
      <div class="l-form-group__input">
        <input class="c-input" type="text" name="demoInputRequired" id="demoInputRequired" placeholder="Placeholder text" required>
      </div>
    </div>

    <div class="l-form-group">
      <label class="l-form-group__label" for="demoInputDisabled">Demo input disabled</label>
      <div class="l-form-group__input">
        <input class="c-input" type="text" name="demoInputDisabled" id="demoInputDisabled" placeholder="Placeholder text" disabled>
      </div>
    </div>

    <div class="l-form-group">
      <label class="l-form-group__label" for="demoInputWithError">Demo input with error</label>
      <div class="l-form-group__input">
        <input class="c-input is-error" type="text" name="demoInputWithError" id="demoInputWithError" placeholder="Placeholder text">
      </div>
      <div class="l-form-group__validation">
        <div class="c--error">This field must be filled</div>
      </div>
    </div>


  </div>
</div> <!-- row -->
</div> <!-- container-type -->  
