<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Radio button</h2>  

    <div class="l-form-group">
      <div class="radio-button">
        <input id="radioButton1" type="radio" name="radioButton" checked>
        <label for="radioButton1">First button</label>
      </div>
      <div class="radio-button">
        <input id="radioButton2" type="radio" name="radioButton">
        <label for="radioButton2">Second button</label>
      </div>
      <div class="radio-button">
        <input id="radioButton3" type="radio" name="radioButton">
        <label for="radioButton3">Third button</label>
      </div>
    </div>

    <div class="l-form-group">
      <div class="radio-button radio-button--tiny">
        <input id="radioButtonTiny1" type="radio" name="radioButtonTiny" checked>
        <label for="radioButtonTiny1">First button</label>
      </div>
      <div class="radio-button radio-button--tiny">
        <input id="radioButtonTiny2" type="radio" name="radioButtonTiny">
        <label for="radioButtonTiny2">Second button</label>
      </div>
      <div class="radio-button radio-button--tiny">
        <input id="radioButtonTiny3" type="radio" name="radioButtonTiny">
        <label for="radioButtonTiny3">Third button</label>
      </div>
    </div>

  </div>
</div>
</div>




