<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Select</h2>  

    <div class="l-form-group">
        <label class="l-form-group__label" for="selectInputSelect">Select</label>
        <div class="l-form-group__input">
          <div class="c-select">
            <select id="selectInputSelect" name="selectInputSelect" class="c-input">
              <option value="">Vyberte neco</option>
              <option value="lorem">Lorem</option>
              <option value="ipsum">Ipsum</option>
              <option value="dolor">Dolor</option>
              <option value="sit_amet">Sit amet</option>
            </select>
          </div>
        </div>
      <div class="l-form-group__validation">
        <div class="c--error">This field must be filled</div>
      </div>
    </div>
  </div>
</div>
</div>
