<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Table</h2>  
  </div>

  <div class="col-xs-12">
    <table class="c-table mb2r">
      <caption>c-table</caption>
      <tr>
        <th>Cross section</th>
        <th>22 AWG</th>
        <th>22 AWG</th>
        <th>22 AWG</th>
        <th>0.5 mm</th>
        <th>22 AWG</th>
        <th>0.5 mm</th>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
    </table>
  </div>

  <div class="col-xs-12">
    <table class="c-table c-table--striped mb2r">     
      <caption>c-table--striped</caption>
      <tr>
        <th>Cross section</th>
        <th>22 AWG</th>
        <th>22 AWG</th>
        <th>22 AWG</th>
        <th>0.5 mm</th>
        <th>22 AWG</th>
        <th>0.5 mm</th>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
      <tr>
        <td>Conductor</td>
        <td>silver plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
        <td>tin plated</td>
        <td>silver plated</td>
      </tr>
    </table>
  </div>

</div> <!-- row -->
</div> <!-- container-type -->  
