<!-- ####################################################################### -->
<div class="l-container-default container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h2>Textarea</h2>  

    <div class="l-form-group">
      <label class="l-form-group__label" for="demoTextarea">Demo textarea</label>
      <div class="l-form-group__input">
        <textarea class="c-input c-input--textarea" name="demoTextarea" id="demoTextarea" placeholder="Placeholder text"></textarea>
      </div>
    </div>

  </div>
</div> <!-- row -->
</div> <!-- container-type -->  
