/*******************************************
  BASIC HTML ELEMENTS
********************************************/

html {
  scroll-behavior: smooth;
}

body {
  font: normal $font-regular 1em $font-basic;
  color: $color-text;
  background-color: $color-background;
  line-height: 1.2;
  position: relative;
  font-size: 1em;
}

::selection { background-color: $color-text-selected; }

a { color: $color-link; }

p { margin: 0 0 $global-spacing-unit*2 0; line-height: 1.6; }

img { max-width: 100%; }

ul { padding-left: 2rem; }
li { line-height: 1.6; }

h1, h2, h3, h4 { 
  font-family: $font-title; line-height: 1.2; padding: 0; margin: 0 0 $global-spacing-unit*2 0; font-weight: $font-black;
}

hr { color: $color-muted; background-color: $color-muted; height: 1px; border: 0px; }

svg { fill: currentColor; }
